.wrapper
  h1.title
    | Tabbed navigation using radio buttons
    
    
  section.tabs-section
    nav.tabs-wrapper

      input(type="radio",
            name="tab",
            id="tab1",
            checked)
      label(for="tab1")
        span Example Tab

      input(type="radio",
            name="tab",
            id="tab2")
      label(for="tab2")
        span Tab Two

      input(type="radio",
            name="tab",
            id="tab3")
      label(for="tab3")
        span Tab Three

      input(type="radio",
            name="tab",
            id="tab4")
      label(for="tab4")
        span Another Tab
        
      .tabs-content
        section
          h1 Hi There!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem repudiandae magni reprehenderit quibusdam, molestias sequi, voluptate quam id porro eaque placeat laboriosam quis quo. Repellat culpa veritatis quae non impedit.
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem repudiandae magni reprehenderit quibusdam, molestias sequi, voluptate quam id porro eaque placeat laboriosam quis quo. Repellat culpa veritatis quae non impedit.

        section
          h2 Oh hi! I'm the second tab
          h3 ... aaaaaand
          h4 That's all...
          h5 ... ...
          h6 this is awkward :s
        
        section
          h2 I'm the best tab
          h3 Because reasons
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis eum nihil voluptatibus beatae aliquam eius, numquam ut ex natus repudiandae dolorum ea fugiat fugit blanditiis cum velit sint, quod consectetur.
          
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo a qui exercitationem recusandae hic maxime suscipit veniam harum, quod fuga beatae aliquid quia, earum ratione dolorum obcaecati quaerat natus. Nemo!
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero debitis repellat odio doloribus nam ad magnam quia a nihil ut voluptates hic aliquam quos pariatur explicabo, quo tenetur, non? Iste!
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero debitis repellat odio doloribus nam ad magnam quia a nihil ut voluptates hic aliquam quos pariatur explicabo, quo tenetur, non? Iste!
          
        section
          h2 <- No you're not
          h3 Because I've images
          
          img(src="http://imgs.xkcd.com/comics/standards.png")
          
          img(src="http://imgs.xkcd.com/comics/duty_calls.png")
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero debitis repellat odio doloribus nam ad magnam quia a nihil ut voluptates hic aliquam quos pariatur explicabo, quo tenetur, non? Iste!
